<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Menu</span></h3> </div>
        <ul class="nav" id="side-menu">
            <li><a th:href="@{/trabajadores/}" class="waves-effect"><i class="mdi mdi-account fa-fw"></i> <span class="hide-menu">Trabajadores</span></a></li>
            <li><a th:href="@{/clientes/}" class="waves-effect"><i class="mdi mdi-account-multiple fa-fw"></i> <span class="hide-menu">Clientes</span></a></li>
            <li><a th:href="@{/productos/}" class="waves-effect"><i class="mdi mdi-package fa-fw"></i> <span class="hide-menu">Productos</span></a></li>
            <li><a th:href="@{/ventas/}" class="waves-effect"><i class="mdi mdi-search-web fa-fw"></i> <span class="hide-menu">Ventas</span></a></li>
        </ul>
    </div>
</div>